backports.functools-lru-cache
click
cycler
Flask
itsdangerous
Jinja2
MarkupSafe
matplotlib
numpy
opencv-python
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
subprocess32
Werkzeug
backports.functools-lru-cache
click
cycler
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
matplotlib
numpy
opencv-python
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
subprocess32
Werkzeug
